@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  font-size: 16px;
  text-decoration: none !important;
  list-style-type: none;
}

:root {
  --color: #228b22;
  --font-family: poppins;
}

body {
  background-color: #f1f2f4 !important;
}

.main-header {
  height: 80px;
  padding: 0 4% !important;
  z-index: 99;
  display: flex;
  position: fixed;
  top: 0px;
  align-items: center !important;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  background-color: #fff !important;
}

.branding {
  width: 5%;
  margin-right: 10px;
}

.brand-img {
  width: 80px;
  height: 60px;
}

.search-bar {
  padding: 5px 0px;
  margin: 0px 1%;
  display: flex;
  width: 60%;
  border: 1px solid var(--color);
  border-radius: 8px;
}

.search-bar input {
  width: 100%;
}

.location-search,
.items-search {
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color);
  border-right: 1px solid var(--color);
}

svg {
  cursor: pointer;
}

.location-search {
  width: 30%;
}

.items-search {
  width: 70%;
  border-right: none;
}

.location-search input,
.items-search input {
  outline: none;
  border: none;
}

.navbar {
  width: 40%;
  margin-bottom: 0px !important;
}

.nav-list {
  margin: 0 !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list a {
  font-size: 17px;
  text-decoration: none !important;
  color: var(--color);
  font-weight: 500;
}

.nav-list a:hover {
  color: var(--color);
}

.nav-items {
  padding: 8px 0;
}

.profile button {
  padding: 8px 8px;
  background-color: var(--color);
  border-radius: 8px;
  border: none;
  color: #fff;
  transition: 0.4s ease-in-out;
}

.profile button:hover {
  background-color: #fff;
  color: var(--color);
  border: 1px solid var(--color);
}

.profile button:active {
  background-color: var(--color);
  color: #fff;
  transition: 0.6s ease-in-out;
}

.nav-items a:visited {
  color: var(--color);
}

.profile a:visited {
  color: #fff;
}

.bi-basket {
  margin-left: 5px;
  margin-top: -8px;
}

.bi-person-circle {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -5px;
}
